<h1 style="text-align: center;">Enforcement and Judicial Metrics by Demographic for <%= params[:place] %></h1>
<h2 style="text-align: center;">Total Population: <div class="text-success" style="display: inline"><%= @data["properties"]["total_population"] %></div></h2>
<h2 style="text-align: center;"><div class="text-warning" style="display: inline"><%= @data["properties"]["fines_percentage_of_gr"] %>%</div> of gross revenue comes from fines.</h2>
<h2 style="text-align: center;"><div class="text-danger" style="display: inline"><%= @data["properties"]["demographics_below_poverty_percentage"] %>%</div> of people are below the poverty line.</h2>
<% if @error %>
	<%= debug @error %>
<% end %>

<link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
<%= stylesheet_link_tag "http://js.arcgis.com/3.14/esri/css/esri.css" %>
<style>
	html, body, #map {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#map {
		height: 40%;
	}
	body {
		background-color: #FFF;
		overflow: hidden;
		font-family: "Trebuchet MS";
	}
</style>
<%= javascript_include_tag "http://js.arcgis.com/3.14/" %>
<script type="text/javascript">
	makeMeAMap(38.62, -90.21);
	function makeMeAMap(latude, longitude) {
		console.log("Hey!");
		var map;
		require(["esri/map", "dojo/domReady!"], function (Map) {
			map = new Map("map", {
				basemap: "streets",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
				center: [longitude, latude],
				zoom: 13
			});
			console.log("Done!");
		});
		console.log("Done!");
	}
</script>

<table class="table table-striped table-hover">
	<thead>
      <tr>
		<th></th>
        <th>White</th>
        <th>Black</th>
        <th>Hispanic</th>
		<th>Asian</th>
		<th>Indian</th>
		<th>Other</th>
      </tr>
    </thead>
    <tbody>
		<tr>
		  <td>Percent of Population</td>
		  <td><%= @data["properties"]["demographics_white_percentage"].length > 0 ? @data["properties"]["demographics_white_percentage"] : "N/A"%></td>
  		  <td><%= @data["properties"]["demographics_black_percentage"].length > 0 ? @data["properties"]["demographics_black_percentage"] : "N/A"%></td>
		  <td>N/A</td>
  		  <td><%= @data["properties"]["demographics_asian_percentage"].length > 0 ? @data["properties"]["demographics_asian_percentage"] : "N/A"%></td>
  		  <td>N/A</td>
  		  <td><%= @data["properties"]["demographics_other_percentage"].length > 0 ? @data["properties"]["demographics_other_percentage"] : "N/A"%></td>
		</tr>

		<tr>
		  <td>Vehicle Stops</td>
		  <td><%= @data["properties"]["white_vehicle_stops"].length > 0 ? @data["properties"]["white_vehicle_stops"] : "N/A"%></td>
		  <td><%= @data["properties"]["black_vehicle_stops"].length > 0 ? @data["properties"]["black_vehicle_stops"] : "N/A"%></td>
		  <td><%= @data["properties"]["hispanic_vehicle_stops"].length > 0 ? @data["properties"]["hispanic_vehicle_stops"] : "N/A"%></td>
		  <td><%= @data["properties"]["asian_vehicle_stops"].length > 0 ? @data["properties"]["asian_vehicle_stops"] : "N/A"%></td>
		  <td><%= @data["properties"]["indian_vehicle_stops"].length > 0 ? @data["properties"]["indian_vehicle_stops"] : "N/A"%></td>
		  <td><%= @data["properties"]["other_vehicle_stops"].length > 0 ? @data["properties"]["other_vehicle_stops"] : "N/A"%></td>
		</tr>

	  <tr>
		<td>Search Rate</td>
		<td><%= @data["properties"]["white_search_rate"].length > 0 ? @data["properties"]["white_search_rate"] : "N/A"%></td>
	  	<td><%= @data["properties"]["black_search_rate"].length > 0 ? @data["properties"]["black_search_rate"] : "N/A"%></td>
	  	<td><%= @data["properties"]["hispanic_search_rate"].length > 0 ? @data["properties"]["hispanic_search_rate"] : "N/A"%></td>
	  	<td><%= @data["properties"]["asian_search_rate"].length > 0 ? @data["properties"]["asian_search_rate"] : "N/A"%></td>
	  	<td><%= @data["properties"]["indian_search_rate"].length > 0 ? @data["properties"]["indian_search_rate"] : "N/A"%></td>
	  	<td><%= @data["properties"]["other_search_rate"].length > 0 ? @data["properties"]["other_search_rate"] : "N/A"%></td>
	  </tr>
	  <tr>
		<td>Contraband Hit Rate</td>
		<td><%= @data["properties"]["white_contraband_hit_rate"].length > 0 ? @data["properties"]["white_contraband_hit_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["black_contraband_hit_rate"].length > 0 ? @data["properties"]["black_contraband_hit_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["hispanic_contraband_hit_rate"].length > 0 ? @data["properties"]["hispanic_contraband_hit_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["asian_contraband_hit_rate"].length > 0 ? @data["properties"]["asian_contraband_hit_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["indian_contraband_hit_rate"].length > 0 ? @data["properties"]["indian_contraband_hit_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["other_contraband_hit_rate"].length > 0 ? @data["properties"]["other_contraband_hit_rate"] : "N/A"%></td>
	  </tr>
	  <tr>
		<td>Arrest Rate</td>
		<td><%= @data["properties"]["white_arrest_rate"].length > 0 ? @data["properties"]["white_arrest_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["black_arrest_rate"].length > 0 ? @data["properties"]["black_arrest_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["hispanic_arrest_rate"].length > 0 ? @data["properties"]["hispanic_arrest_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["asian_arrest_rate"].length > 0 ? @data["properties"]["asian_arrest_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["indian_arrest_rate"].length > 0 ? @data["properties"]["indian_arrest_rate"] : "N/A"%></td>
		<td><%= @data["properties"]["other_arrest_rate"].length > 0 ? @data["properties"]["other_arrest_rate"] : "N/A"%></td>
	  </tr>
    </tbody>
</table>
