<h1>Ticket information for <%= session[:last] %>, <%= session[:first] %></h1>

<% @ticket.each do |t| %>
	<h2>Ticket (#<%= t["citationNumber"]%>)</h2>
	Court Date: <%= Date.strptime((t['courtDate'].to_f / 1000).to_s, "%s") %>
	<p>Court Location: <%= t["courtLocation"].capitalize %>, <%= t["courtAddress"] %></p>
	<%= button_to "Dispute This Ticket", :tickets_dispute, params: {ticket_id: t["citationNumber"]} %>
	<%= button_to "Pay This Ticket", :tickets_pay, params: {ticket_id: t["citationNumber"]} %>

	<% t["violations"].each do |v| %>
		<h3>Violation</h3>
		<%= v.to_s %>
	<% end %>
<% end %>
