<h1>Ticket information for <%= session[:last] %>, <%= session[:first] %></h1>

<% @tickets.each_with_index do |t, index| %>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>
				<%= button_to "Dispute", :tickets_dispute, params: {ticket: t["citationNumber"]}, class: "pull-right" %>
				<%= button_to "Pay", :tickets_pay, params: {ticket: t["citationNumber"]}, class: "pull-right" %>
				<a data-toggle="collapse"  href="#collapse<%= index + 1 %>">Ticket #<%= t["citationNumber"]%></a>
			</h2>
		</div>
		<div id="collapse<%= index + 1 %>" class="collapse">
			<div class="panel-body">
				<p>Court Date: <%= Date.strptime((t['courtDate'].to_f / 1000).to_s, "%s") %></p>
				<p>Court Location: <%= t["courtLocation"].capitalize %>, <%= t["courtAddress"] %></p>
				<% t["violations"].each do |v| %>
					<h3>#<%= v["violationNumber"] %> - <%= v["violationDescription"] %></h3>
					<p>Fine: <%= v["fineAmount"] %></p>
					<p>Court Fee: <%= v["courtCost"] %></p>
					<% if v["warrantStatus"] %>
						<p><strong>There is a warrant for this person's arrest.</strong></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
